html, body, #content, #content > div {
    height: 100%;
}

html, body, #content, #content > div, .main {
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
}

.spacer {
    flex: 1;
}

.loading-spinner {
    color: #aaa;
    animation: spin 1s linear infinite;
}

.main {
    display: flex;
}

.drop-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2.5em 0;
    font-size: 3rem;
    background: rgba(0,0,0,0.5);
    text-align: center;
    color: #fff;
    z-index: 99;
}


@keyframes spin {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}

