.view-controls {
    padding: 0 10px;
    margin-bottom: 6em;
}

.image-picker {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    .label {
        display: block;
        padding-bottom: 0.4em;
    }

    input {
        display: block;
    }

    img {
        display: block;
        max-width: 100px;
        max-height: 100px;
    }
}

.control-group {
    padding-bottom: 2em;
}